<article
  class="min-h-52 rounded border border-solid border-brzinc p-5 duration-150 hover:border-orange"
  data-aos="zoom-in"
  data-aos-duration="1000"
>
  <div class="inner mb-5">
    <img
      class="h-12 w-12 object-contain"
      src="assets/svg/angular.svg"
      alt="rasm"
    />
  </div>
  <div>
    <h3 class="mb-5 line-clamp-1 font-bold text-gray-700">React.js testing</h3>
    <p class="line-clamp-3 font-abel text-sm font-normal text-gray-700">
      Egestas tellus nunc proin amet tellus tincidunt lacus consequat. Ultrices
      Egestas tellus nunc proin amet tellus tincidunt lacus consequat.
      UltricesEgestas tellus nunc proin amet tellus tincidunt lacus consequat.
      Ultrices
    </p>
  </div>
</article>
